html,
body,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
}


:root{
  --light-blue: #2998ff;
  --dark-blue: #135cc5;
  --light-red: #f87171;
  --dark-red: #dc2626;
  --dark-brown:#5C4033;
  --brown: #964B00;
  --beige: #ffe4c4;
  --black:#000000;
  --gray: #252c30;
  --silver: 	#C0C0C0;
  --gold: #CD853F;
  --ash: #544C4A;
  --cool-brown: #C1ABA6;
  --primary: var(--beige);
  --secondary: var(--black);
}

.headerDIV {
  text-align: center;
  border: 2px solid black;
}